/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #background{
    width: auto;
    background-color: rgb(59, 59, 116);
    padding: 15px;
   }
   .header{
    min-height: 150px;
    background-color: rgb(214, 34, 34);
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   h1 {
    font-size: 60px;
    color: rgb(218, 214, 214);
    font-weight: bold;
    margin-left: 15px;
   }
   h2 {
    font-size: 40px;
    color: rgb(218, 214, 214);
    font-weight: bold;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
   }
   .main p {
    font-size: x-large;
    color: rgb(218, 214, 214);
    margin-left: 30px;
   }
   .home {
    width: 14%;
    /* min-height: 400px; */
    background-color: rgb(2, 134, 134);
    display: inline-block;
    border-radius: 25px;
    justify-content: space-between;
    vertical-align: top;
    align-content: center;
    padding-bottom: 25px;
   }
   .t1 {
    margin-top: 25px;
    margin-left: 25px;
    font-size: x-large;
   }
   .ml {
    margin-left: 25px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    color: white;
    font-size: x-large;
   }
   .main ul {
    margin-left: 25px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    color: rgb(218, 214, 214);
    font-size: x-large;
   }
   .l2 {
    margin-left: 60px;
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    color: white;
    font-size: x-large;
   }
   .main {
    width: 84%;
    min-height: 935px;
    background-color: black;
    display: inline-block;
    justify-content: space-between;
    border-radius: 25px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: x-large;
    padding: 15px;
   }
   #bottom {
    background-color: grey;
    width: auto;
    min-height: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
   }
   #b1 {
    color: white;
    font-size: x-large;
    margin-left: 25px;
   }
   a {
    color:lightskyblue;
   }
   ul {
    list-style: none;
   }
